@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    position: absolute;
    z-index: 1;
    outline: 2px solid red;
  }

  .fade-layer {
    position: absolute;
    inset: 0;
    background: black;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    z-index: 5;
    pointer-events: none;
  }

  .fade-layer.visible {
    opacity: 1;
  }
}

.caption {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: min(3vw, 3rem);
  font-weight: 400;
  z-index: 3;
  user-select: none;
  letter-spacing: 0.02em;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  text-align: center;
  padding: 0.2em 0;
  backdrop-filter: blur(5px);
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.progress-bar {
  position: absolute;
  bottom: 4.7vh;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  height: 1vh;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 1vh;
  z-index: 4;
  .progress-fill {
    height: 100%;
    width: 0%;
    border-radius: inherit;
    background: white;
    transition: width 0.1s linear;
    box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.4);
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.4) calc(100% - 5vw),
      rgba(255, 255, 255, 1)
    );
  }
}
